body{
    margin: 0;
    padding: 0;
    background: #252525;
}

#photo-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, .5);
  top: 0px;
  display: none;
}

.direction {
  color: white;
  font-size: 100px;
  top: 40vh;
  position: fixed;
  z-index: 999;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#left {
  left: 5%;
}

#left:hover {
  left: 4.5%;
}

#right {
  right: 5%;
}

#right:hover {
  right: 4.5%;
}

#photo {
  width: 70%;
  height: 100vh;
  margin: auto 15%;
  overflow: auto;
}

#gallery{
     /*flex makes sure that the images are not align at the bottom, try without flex*/
     display: flex;
     margin-left: 10%;
     width:80%;
     margin-top: 5vh;
     flex-direction: row;
 }

#gallery2{
    /*flex makes sure that the images are not align at the bottom, try without flex*/
    display: flex;
    margin-left: 10%;
    width:80%;
    margin-top: 5vh;
    flex-direction: row;
}

.column{
    display: inline-block;
    margin-left:0.5%;
    right:0.5%;
    width:33%;
    align-self: flex-start;
}

.column img{
    margin-top:4px;
    width:100%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.column img:hover{
    filter: grayscale(0%);
}
